<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641626895383-vhoqhv1vkhkonk3c6klm5cu6jarfh6ar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641626895383-vhoqhv1vkhkonk3c6klm5cu6jarfh6ar</string>
	<key>API_KEY</key>
	<string>AIzaSyA6hQCLNd01yadQS_caQzu9KuV4qlalmUE</string>
	<key>GCM_SENDER_ID</key>
	<string>641626895383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.rafa.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-d7731</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-d7731.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641626895383:ios:1699d070c1d7dfef999852</string>
</dict>
</plist>